*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* --------------------------- HEADER --------------------------- */
.header {
    background-color: #101010;
    height: 80px; /* Altura */
    position: fixed;
    width: 100%; /* largura */
    z-index: 1;
}

#header-opacidade {
    transition: background-color 0.3s;
}

/* --------------------------- HEADER - logo --------------------------- */

.logo img{
    width: 180px; 
    height: auto;
    position: absolute;
    top: 18px;
    left: 25px;
}

@media screen and (max-width: 1100px) {

    .header{
        height: 55px;
    }

    .icone-perfil i{
        position: relative;
        bottom: 13px;
        left: 8px;
        font-size: 25px;
    }

    .logo img {
        width: 125px; 
        height: auto;
        position: absolute;
        top: 13px;
        left: 15px;
    }
}

/* --------------------------- HEADER - icone de perfil --------------------------- */

.icone-perfil {
    font-size: 30px;
    position: absolute;
    top: 25px;
    right: 30px;
}

.icone-perfil i {
    color: #fff;
}

.icone-perfil-logado {
    position: relative;
    bottom: 2px;
    font-size: 30px; 
}

.icone-perfil i:hover {
    color: #9F0B07;
    transition: color 0.3s;
}

/* --------------------------- HEADER - menu --------------------------- */

.dropdown {
    cursor: pointer;
    user-select: none; /* Impede que o texto seja selecionado pelo usuário. Para evitar que o texto seja destacado ao clicar várias vezes. */
    -ms-user-select: none; /* Versão específica para o Internet Explorer e Edge para evitar o texto seja destacado. */
}

.dropdown-menu {
    display: none; /* Para o menu nao aparecer quando a pagina é carregada */
    position: absolute;
    top: 55px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    min-width: 200px;
    min-height: 100px;
    z-index: 1;
    border-radius: 10px;
    backdrop-filter: blur(30px); /* Efeito de desfoque */
}

.dropdown-menu a {
    color: white;
    font-size: 15px;
    padding: 12px;
    padding-left: 20px;
    text-decoration: none;
    display: block; /* O 'display: block;' faz com que as 'a' do menu fiquem em bloco forçando uma quebra de linha antes e depois dos 'a'.*/
    border-radius: 10px;
}

.dropdown-menu a:hover {
    background-color: #9F0B07;
    transition: background-color 0.1s;
}


@media screen and (max-width: 1100px) {

    .dropdown-menu {
        top: 30px;
    }

}

/* --------------------------- main --------------------------- */

.main {
    min-height: 140vh;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-conted {
    text-align: center;
}

.avatar {
    margin-top: 220px;
    text-align: center;
    color: #fff;
    font-size: 100px;
}

.nome {
    color: #fff;
    font-size: 35px;
}

.data {
    color: #999999;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.links {
    padding: 5px;
}

.links a {
    font-size: 17px;
    padding: 18px;
    color: #fff;
    text-decoration: none;
}

.links a:hover {
    color: #9F0B07; 
}

.hr-perfil {
    position: relative;
    left: 10%;
    width: 280px;
    border: none;
    height: 1px; /* Ajuste a altura (espessura) */
    background-color: #9F0B07; 
}

/* --------------------------- main configurações --------------------------- */

.form-configuracoes {
    color: #fff;
    margin-top: 50px;
    
}

.form-configuracoes input {
    padding: 20px;
    width: 300px;
    border: 2px solid #5a5a5a;
    border-radius: 8px;
    background-color: #1f1f1f;
    color: #fff;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.form-configuracoes p {
    color: #999999;
    margin-bottom: 20px;
}

.form-configuracoes h2 {
    padding: 10px;
}

.form-configuracoes input:focus {
    border-color: #9F0B07;
    outline: none;
}

.form-configuracoes input:hover {
    border: 2px solid #9F0B07;
    transition: 0.3s;
}

.form-configuracoes button:hover {
    background-color: #940904;
    transition: 0.3s;
}

.form-configuracoes button {
    background-color: #9F0B07;
    color: #fff;
    padding: 22px;
    border-radius: 8px;
    cursor: pointer;
    border: 0px solid #5a5a5a;
    margin-top: 10px;
    margin-bottom: 100px;
}

/* --------------------------- Footer --------------------------- */

.footer {
    width: 100%;
}

.footer_content {
    display: grid; /* layout grid organizados em uma estrutura de linhas e colunas */
    grid-template-columns: repeat(5, 1fr); /*fr = fração é uma unidade de medida para o espaço  */
    background-color: #101010;
    padding: 20px; /* Espaço entre o conteudo e as bordas do elemento */
    height: 250px;
    color: #fff;
    white-space: nowrap; /* evita a quebra de linha */
}

/* --------------------------- footer list e link --------------------------- */

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Faz com que os links fiquem mais a baixo em relação ao h3 */
    list-style-type: none; /* tira os estilos do texto */
    position: relative;
    top: 20px;
    left: 55px;
}

.footer_list .footer_link {
    color: #fff;
    text-decoration: none;
}

.footer_link:hover {
    color: #9F0B07;
    transition: 0.1s ease;
}

/* --------------------------- footer - logo --------------------------- */

.footer_logo img{
    position: relative;
    height: 45px;
    width: auto;
    left: 15px;
    top: 10px;
}

/* --------------------------- footer - social media --------------------------- */

.footer_link_social {
    text-decoration: none;
}

.footer_link_social  i{
    position: relative;
    padding-right: 10px;
    top: 30px;
    right: 20px;
    font-size: 40px;
}

.footer_social_media h3 {
    position: relative;
    top: 20px;
    right: 20px;
}

.footer_link_social:hover {
    opacity: 0.5;
}

#facebook {
    color: #2442c9;
}

#twitter {
    color: #20b9c4;
}

#instagram {
    color: #ad24c9;
}

#youtube {
    color: #d11d1d;
}

/* --------------------------- footer - copyright --------------------------- */

.footer_copyright p{
    position: relative;
    top: 60px;
    left: 12px;
}

.hr {
    position: absolute;
    top: auto;
    margin-top: 20px;
    left: 33px;
    width: 95%; /* Defina a largura */
    border: none; /* Remova a borda padrão */
    height: 1px; /* Ajuste a altura (espessura) desejada */
    background-color: #9F0B07; /* Defina a cor desejada */
}

/* --------------------------- tamanho da tela - footer --------------------------- */

@media screen and (max-width: 1100px) {

    .footer_content {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px; /* espaço entre elementos */
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 110px;
        top: 0;
    }

    .footer_social_media i {
        position: relative;
        top: 20px;
        left: 8px;
    }

    .footer_social_media h3 {
        position: relative;
        top: 5px;
        left: 70px;
    }


    .footer_logo img {
        display: none;
    }

    .hr {
        display: none;
    }

    .footer_copyright {
        display: none;
    }
}

@media screen and (max-width: 650px) {

    .footer_content {
        font-size: 14px;
    }

    .footer_social_media i {
        font-size: 30px;
    }

    .footer_social_media h3 {
        position: relative;
        left: 52px;
        top: 0;
    }

}
